.customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f8ff; /* Fundo azul claro para o formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-input:focus {
  border-color: #006600; /* Cor verde escuro no foco */
  outline: none;
}

.submit-button {
  background-color: #006600; /* Cor verde escuro */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #004d00; /* Verde ainda mais escuro no hover */
}
